#
# Configuration File for the Calibration Program
# Hamburg, 2007/08/15
#

#---------------------------------------------------------------------------------
#   Fit
#---------------------------------------------------------------------------------
#Fit method: LVMini=1, use existing calibration=2, write start values=3
Fit method        = 1
Number of Threads = 4

#Parametrization
Parametrization Class = L2L3JetParametrization
#Parametrization Class = GlobalScaleFactorParametrization

#Error Parametrization
tower error parametrization = const
jet error parametrization   = jet et

start values            = 1.0
jet start values        = 0.7 1.7 -2.6
#jet start values        = 1.0 0 0
#global jet start values = 0.998 5.468 3.350 2.559
global jet start values = 1.0 0.0 0.0 0.0

# From file: (if defined, than this is used instead of the start values above)
# Note: only useful, if same parametrization/binning/etc is used!
#input calibration = CalibMaker.cfi
Output file       = CalibMaker

# Scaling of residuals: 0 - none, 1 - with Cauchy-Function, 2 - with Huber-Function
Residual Scaling Scheme    = 11 #   221 : default
Outlier Cut on Chi2        = 1000.0 # Applied before each iteration with no scaling

BFGS derivative step     = 1e-05
BFGS mvec                = 6
BFGS niter               = 100
BFGS eps                 = 1e-02
BFGS 1st wolfe parameter = 1.E-4
BFGS 2nd wolfe parameter = 0.9
BFGS print derivatives   = true

#---------------------------------------------------------------------------------
#   Geometry / Binning for fitting
#---------------------------------------------------------------------------------
maximum eta twr used  = 82
granularity in eta    = 2   # allowed values are: 1,3,5,11,21,41 (*2)
granularity in phi    = 1   # allowed values are: 1,2,3,6,9,18,36,72
symmetry in eta       = false

jet granularity in eta   = 1 #  allowed values are: 1,3,5,11,21,41 (*2)
jet granularity in phi   = 1 #   1 : default
track granularity in eta = 1 #  allowed values are: 1,3,5,11,21,41 (*2)
track granularity in phi = 1 #   1 : default

#fixed global jet parameters = 0 1 2 3

#jet constraint = -1 1 4000 10000

#---------------------------------------------------------------------------------
#   Analyses (GammaJet, TrackTower, ... )
#---------------------------------------------------------------------------------
Et cut on jet  = 0.0
Eta cut on jet = 1.3
Min had fraction = 0.00 #default: 0.07
Max had fraction = 1.00 #default: 0.95

#---------------------------------------------------------------------------------
#   Top specific settings
#---------------------------------------------------------------------------------
Top data class          = 1
use to L3 corrected jets= false
use W mass constraint   = true
use Top mass constraint = false
W mass                  = 80.4
Top mass                = 172.9

#---------------------------------------------------------------------------------
#   Input / Output
#---------------------------------------------------------------------------------
#Default name of the Calibration tree
Default Tree Name      = CalibTree

# List of input files:
Gamma-Jet tree         = GammaJetTree
Z-Jet tree             = ZJetTree
Track-Tower tree       = TrackTowerTree
Track-Cluster tree     = TrackClusterTree
Di-Jet tree            = DiJetTree
Tri-Jet tree           = TriJetTree
Top tree               = TopTree

Top input file = input/Top.root
#Top input file = input/Top_toymc.root

# -1: use all events, 1000: run over 1000 events
use Gamma-Jet events     = 0
use Track-Tower events   = 0
use Track-Cluster events = 0
use Di-Jet events        = 0
use Tri-Jet events       = 0
use Z-Jet events         = 0
use Top events           = -1

#Relative sample weights. Weights of samples are made the same before applying
#these weights, regardless of the amount of events in each sample.
#default = 1,do not use 0.
Gamma-Jet weight     = 1
Track-Tower weight   = 1
Track-Cluster weight = 1
Di-Jet weight        = 1
Multi-Jet weight     = 1
Z-Jet weight         = 1   #Not a Type yet 
Top weight           = 1

use Tracks   = false

#-----------------------------------------------------------------
#  Control plots
#-----------------------------------------------------------------
create plots                 = true
create individual pdf files  = false
plot output format           = 0  # 0: .ps and .root, 1: only .ps
create top plots             = true
create parameter scan plots  = false
create chi2 plots            = false
create genW histogram        = false
